.progress-spinner {
  --mat-progress-spinner-diameter: 24px;
  --mat-progress-spinner-stroke-width: 4px;
  background: linear-gradient(90deg, #00C4FF 0%, #F700FD 100%);
  circle {
    stroke: transparent;
    background: linear-gradient(90deg, #00C4FF 0%, #F700FD 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}