<div class="absolute top-6 right-6">
  <button [matMenuTriggerFor]="trackOptions" class="text-gray-100/50 hover:text-gray-100 transition-all duration-300 w-10 h-10 rounded-full flex items-center justify-center">
    <i class="fa-solid fa-ellipsis-vertical text-2xl"></i>
  </button>
  <mat-menu #trackOptions="matMenu" xPosition="before">
    @if(libraryService.isItemInLibrary(itemDetails!.id) | async) {
      <button (click)="removeLibraryItem(itemDetails!.id)" mat-menu-item class="flex items-center justify-center">
        <i class="fa-regular fa-trash-can mr-1"></i>
        Retirer de ma bibliothèque
      </button>
    } @else {
      <button (click)="addLibraryItem()" mat-menu-item class="flex items-center justify-center">
        <i class="fa-solid fa-plus mr-1"></i>
        Ajouter à ma bibliothèque
      </button>
    }
  </mat-menu>
</div>