<!-- Library header -->
<div class="bg-[#121213] w-full flex flex-col justify-between items-center p-4 border-b-2 border-[#1F1F1F] shadow-2xl shadow-[#1F1F1F]">
  <div class=" w-full flex justify-between items-center">
    <div class="flex items-center gap-2">
      <i class="fa-solid fa-lines-leaning text-xl"></i>
      <span class="font-semibold text-lg">Votre Bibliothèque</span>
    </div>

    <!-- Add to library button -->
    <button class="hover:bg-[#1F1F1F] rounded-full w-8 h-8 text-gray-300 hover:text-gray-100 transition">
      <i class="fa-solid fa-plus text-xl font-light"></i>
    </button>
  </div>
  <div class="mt-2">
    <mat-chip-set class="flex" aria-label="Filter Selection">
      <mat-chip matTooltip="Filtrer par Tous">
        <button class="cursor-pointer text-xs text-white font-light" [ngClass]="{'active': currentFilter === 'all'}" (click)="onFilterChange('all')">
          Tous
        </button>
      </mat-chip>
    
      <mat-chip matTooltip="Filtrer par artistes">
        <button class="cursor-pointer text-xs text-white font-light" [ngClass]="{'active': currentFilter === 'artist'}" (click)="onFilterChange('artist')">
          Artistes
        </button>
      </mat-chip>
    
      <mat-chip matTooltip="Filtrer par albums">
        <button class="cursor-pointer text-xs text-white font-light" [ngClass]="{'active': currentFilter === 'album'}" (click)="onFilterChange('album')">
          Albums
        </button>
      </mat-chip>
    
      <mat-chip matTooltip="Filtrer par listes de lecture">
        <button class="cursor-pointer text-xs text-white font-light" [ngClass]="{'active': currentFilter === 'playlist'}" (click)="onFilterChange('playlist')">
          Liste de lecture
        </button>
      </mat-chip>
    </mat-chip-set>
  </div>
</div>