<!-- Library header -->
<div class="bg-[#121213] w-full flex flex-col justify-between items-center p-4 border-b-2 border-[#1F1F1F] shadow-2xl shadow-[#1F1F1F]">
  <div class=" w-full flex justify-between items-center">
    <div class="flex items-center gap-2 justify-center lg:justify-start w-full">
      <i class="fa-solid fa-lines-leaning text-3xl ml-2"></i>
      <span class="font-semibold text-2xl">Votre Bibliothèque</span>
    </div>

    <!-- Go to Dashboard Button -->
    <button (click)="routingService.navigateByUrl('dashboard')" matTooltip="Aller au profil" class="hidden lg:flex focus:outline-none w-8 h-8 text-gray-300/50 hover:text-gray-100 rounded-full transition justify-center items-center">
      <mat-icon>star</mat-icon>
    </button>
  </div>

  <!-- Filter Buttons -->
  <div class="mt-2">
    <mat-chip-set class="flex" aria-label="Filter Selection">
      <mat-chip matTooltip="Filtrer par Tous">
        <button class="cursor-pointer text-xs text-white font-light" [ngClass]="{'active': currentFilter === 'all'}" (click)="onFilterChange('all')">
          Tous
        </button>
      </mat-chip>
    
      <mat-chip matTooltip="Filtrer par artistes">
        <button class="cursor-pointer text-xs text-white font-light" [ngClass]="{'active': currentFilter === 'artist'}" (click)="onFilterChange('artist')">
          Artistes
        </button>
      </mat-chip>
    
      <mat-chip matTooltip="Filtrer par albums">
        <button class="cursor-pointer text-xs text-white font-light" [ngClass]="{'active': currentFilter === 'album'}" (click)="onFilterChange('album')">
          Albums
        </button>
      </mat-chip>
    
      <mat-chip matTooltip="Filtrer par listes de lecture">
        <button class="cursor-pointer text-xs text-white font-light" [ngClass]="{'active': currentFilter === 'playlist'}" (click)="onFilterChange('playlist')">
          Liste de lecture
        </button>
      </mat-chip>
    </mat-chip-set>
  </div>
</div>