<!-- Loading State -->
@if(isLoading) 
{

  <!-- Loading Spinner -->
  <app-progress-spinner />

}
@else 
{

<!-- Main Content -->
<div class="relative w-full h-full">
  <div class="bg-[url('https://images.unsplash.com/photo-1615554851544-e6249b92a492?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&h=1000')] bg-cover w-full h-full">

    <!-- Page Options Menu (top-right)  -->
    <div class="absolute top-6 right-6">
      <button [matMenuTriggerFor]="trackOptions" class="text-gray-100/50 hover:text-gray-100 transition-all duration-300 w-10 h-10 rounded-full flex items-center justify-center">
        <i class="fa-solid fa-ellipsis-vertical text-2xl"></i>
      </button>
      <mat-menu #trackOptions="matMenu" xPosition="before">
        <h3 mat-menu-header class="text-gray-500 text-center pb-1 border-b-2 border-gray-300 ">Options Profil</h3>
        <button (click)="toggleEditMode()" mat-menu-item>
            <i class="fa-solid fa-pen-to-square mr-2"></i>
            Modifier mon profil
        </button>
        <button (click)="deleteAccount()" mat-menu-item >
            <i class="fa-solid fa-trash mr-2 text-red-700"></i>
            <span class="text-red-700">Supprimer mon compte</span>
        </button>
      </mat-menu>
    </div>

    <!-- Page header -->
    <div class="absolute z-10 p-6 pl-16 h-[230px] flex items-end">
      <!-- User avatar -->
      <img [src]="(user$ | async)?.avatar" alt="" class="max-w-[175px] aspect-square rounded-full mr-8 object-cover">

      <!-- Account infos -->
      <div class="flex flex-col gap-1">
        <p class="text-sm text-gray-400 font-medium tracking-wide">Profil utilisateur</p>
        <!-- Account name -->
        <h1 class="text-6xl font-bold tracking-wider truncate overflow-hidden text-ellipsis max-w-[24ch]">{{ (user$ | async)?.name }}</h1>

        <div class="flex items-center gap-12">
          <p class="text-gray-300 font-medium flex items-center">
            <!-- Account email -->
            <span>{{ (user$ | async)?.email }}</span>

            <span class="text-3xl font-extrabold mx-3">&#183;</span> 

            <!-- Account creation date -->
            <span>Compte créé le {{ (user$ | async)?.created_at | date: 'dd MMMM yyyy' }}</span>
          </p>
        </div>
      </div>
    </div>

    <!-- Page body -->
    <div class="absolute top-[230px] left-0 right-0 bottom-0 z-20 h-[calc(100vh-397px)] bg-gradient-to-t from-black via-black/60 to-transparent overflow-y-auto">

      <div class="p-6">
        <!-- Artists Collection -->
        <div class="mt-4 mb-10">
          <h2 class="text-2xl font-semibold tracking-wider mb-4">Mes artistes</h2>
          <!-- If there are artists in the library -->
          @if(artists && artists.length > 0)
          {
            <app-collection [collection]="artists" />
          }
          <!-- If there are no artists in the library -->
          @else
          {
            <p class="text-lg text-center text-gray-400 tracking-wider font-medium uppercase">Il n'y a aucun artiste dans votre bibliothèque</p>
          }
        </div>

        <!-- Albums Collection -->
        <div class="mt-6 mb-10">
          <h2 class="text-2xl font-semibold tracking-wider mb-4">Mes albums</h2>
          <!-- If there are albums in the library -->
          @if(albums && albums.length > 0)
          {
            <app-collection [collection]="albums" />
          }
          <!-- If there are no albums in the library -->
          @else
          {
            <p class="text-lg text-center text-gray-400 tracking-wider font-medium uppercase">Il n'y a aucun album dans votre bibliothèque</p>
          }
        </div>

        <!-- Playlists Collection -->
        <div class="mt-4 mb-10">
          <h2 class="text-2xl font-semibold tracking-wider mb-4">Mes listes de lecture</h2>
          <!-- If there are playlists in the library -->
          @if(playlists && playlists.length > 0)
          {
            <app-collection [collection]="playlists" />
          }
          <!-- If there are no playlists in the library -->
          @else
          {
            <p class="text-lg text-center text-gray-400 tracking-wider font-medium    uppercase">Il n'y a aucune liste de lecture dans votre bibliothèque</p>
          }
        </div>

        <!-- Tracks Table -->
        <div class="mt-4 mb-10">
          <h2 class="text-2xl font-semibold tracking-wider mb-4">Mes chansons favourites</h2>
          <!-- If there are tracks in the favourites -->
          @if(tracks && tracks.length > 0)
          {
            <div class="w-full">
              <app-tracks-table [tracks]="tracks" />
            </div>
          } 
          <!-- If there are no tracks in the favourites -->
          @else 
          {
            <p class="text-lg text-center text-gray-400 tracking-wider font-medium uppercase">Il n'y a aucune chanson dans vos favoris</p>
          }
        </div>
      </div>
    </div>
  </div>
</div>
  <!-- Edit profile Modal -->
  @if(isEditMode) 
  {
    <app-edit-profile-form (isEditMode)="toggleEditMode()" [user]="user$ | async" class="fixed inset-0 z-50" />
  }
}
