<div class="w-screen h-screen bg-black overflow-hidden grid grid-cols-12">
  <div class="col-span-12 md:col-span-6">
    @if(isRegisteredUser) {
      <app-login (toggleRegistrationEvent)="onToggleRegistration($event)"></app-login>
    }
    @else {
      <app-register (toggleRegistrationEvent)="onToggleRegistration($event)"></app-register>
    }
  </div>
  <div class="md:col-span-6 hidden md:flex relative w-full h-full items-center justify-center bg-[url('https://images.unsplash.com/photo-1593698054589-8c14bb66d2d4?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&h=1000')] bg-cover bg-center">
    <div class="absolute inset-0 bg-black/30"></div>
    <img src="/assets/images/soundpulse_logo-full.svg" alt="SoundPulse logo" class="z-50 h-32">
  </div>
</div>

<!-- Dev mode badge -->
<div class="fixed right-1/2 translate-x-1/2 lg:translate-x-0 w-72 lg:w-96 lg:bottom-4 lg:right-4 z-50 animate-pulse bg-gray-100/40 rounded-lg p-2">
  <div class="px-4 py-3 lg:px-8 lg:py-6 border-[3px] border-dashed border-yellow-600">
    <h2 class="lg:text-xl font-semibold lg:mb-2 uppercase text-center tracking-wider underline">Mode développement</h2>
    <p><span class="text-sm lg:text-base font-medium">Courriel: </span>utilisateur&#64;test.com</p>
    <p><span class="text-sm lg:text-base font-medium">Mot de passe: </span>password</p>
  </div>
</div>

<!-- Disclaimer -->
<div class="fixed bottom-0 left-0 right-0">
  <app-disclaimer />
</div>