@if(track) {
  <div class="w-full flex items-center gap-3 rounded-lg">

    <!-- Track thumbnail -->
     @if(track.album) {
    <img 
      [src]="track.album.images[0].url" alt="{{track.name}}"
       alt="{{track.name}}" 
       class="w-12 h-12 rounded{{track.type === 'Artiste' ? '-full' : ''}}">
     } @else {
      <img 
      src="/assets/images/soundpulse_logo.svg" alt="{{track.name}}"
       alt="{{track.name}}" 
       class="w-12 h-12 rounded{{track.type === 'Artiste' ? '-full' : ''}}">
     }

    <!-- Library track name & artist-->
    <div class="flex flex-col tracks-start justify-center">
      <p class="font-medium">{{track.name}}</p>
      <p class="text-sm text-gray-400">{{track.artists[0].name}}</p>
    </div>
  </div>
} @else { 
  <div>
    Auncune chanson sélectionnée
  </div>
}