<!-- Loading State -->
@if(isLoading === true) {
  <app-progress-spinner />
} @else {
<!-- Main Content -->
<div class="w-full h-full">
  <div class="relative w-full h-full">
    <img src="{{ artistDetails?.images?.[0]?.url }}" alt="" class="absolute inset-0 w-full h-full object-cover object-top opacity-30 blur-sm">

    <div class="absolute z-10 p-6 pl-16 h-[230px] flex items-end">
      <img src="{{ artistDetails?.images?.[0]?.url }}" alt="" class="max-w-[175px] aspect-square rounded mr-6">
      <div class="flex flex-col gap-1">
        <!-- Display verified badge -->
        @if(verified) {
          <div>
            <span class="ml-4 relative">
              <i class="fa-solid fa-certificate absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 text-2xl  bg-gradient-to-br from-[#00C4FF] to-[#F700FD] bg-clip-text text-transparent"></i>
              <i class="fa-solid fa-check absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 text-sm text-white"></i>
            </span>
            <span class="ml-5 font-medium tracking-wide">Artiste vérifié</span>
          </div>
        }
        <!-- Display artist name -->
        <h1 class="text-8xl font-bold tracking-wider mt-auto">{{ artistDetails?.name }}</h1>

        <!-- Display followers count -->
        <div class="flex items-center gap-12">
          <p class="ml-2 font-medium">{{ artistDetails?.followers?.total?.toLocaleString('fr-CA') }} abonnés</p>

          
        </div>
      </div>
    </div>

    <!-- Display body -->
    <div class="absolute top-[230px] left-0 right-0 bottom-0 z-20 h-[calc(100vh-397px)] bg-gradient-to-t from-black via-black/60 to-transparent overflow-y-auto">
      <div class="p-6">

          <!-- Display tracks table -->
          <div class="w-full">
            <h2 class="text-2xl font-semibold tracking-wider mb-4">Chansons populaires</h2>

            <!-- Tracks table -->
            <table mat-table [dataSource]="tracks">
              <!-- Index column -->
              <ng-container matColumnDef="index">
                <td mat-cell *matCellDef="let track; let i = index" (click)="onTrackClick(track)"> {{ i + 1 }} </td>
              </ng-container>
            
              <!-- Thumbnail column -->
              <ng-container matColumnDef="thumbnail">
                <td mat-cell *matCellDef="let track" class="py-4" (click)="onTrackClick(track)">
                  <img src="{{ track.album.images[0].url }}" alt="" class="w-12 h-12 rounded">
                </td>
              </ng-container>
            
              <!-- Name column -->
              <ng-container matColumnDef="name">
                <td mat-cell *matCellDef="let track" class="py-4" (click)="onTrackClick(track)"> {{ track.name }} </td>
              </ng-container>
            
              <!-- Duration column -->
              <ng-container matColumnDef="duration">
                <td mat-cell *matCellDef="let track" class="py-4" (click)="onTrackClick(track)"> {{ durationFormatter(track.duration_ms) }} </td>
              </ng-container>
            
              <!-- Table rows -->
              <tr mat-row *matRowDef="let row; columns: ['index', 'thumbnail', 'name', 'duration']" class="cursor-pointer"></tr>
            </table>
          </div>

          <!-- Display albums -->
          <h2 class="mt-12 mb-4 text-2xl font-semibold tracking-wider">Albums de {{ artistDetails?.name }}</h2>
          <div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-5 gap-8 w-full">
            @for(album of albums; track album.id) {
              <article>
                <img src="{{ album.images[0].url }}" alt="{{album.name}}"   (click)="onSelect()">
                <p class="text-gray-400 text-sm mb-4 text-center">{{ album.name }} ({{ (album.release_date).slice(0,4) }})</p>
              </article>
            }
          </div>
      </div>
    </div>
  </div>
</div>
}