<button title="Retirer des favoris" *ngIf="isFavourite$ | async" (click)="removeFavourite()" class="mr-4 flex items-center justify-center">
  <i class="fa-solid fa-circle-check text-2xl bg-gradient-to-br from-[#00C4FF] to-[#F700FD] bg-clip-text text-transparent  hover:opacity-80 transition-all duration-300"></i>
</button>
<button title="Ajouter aux favoris" *ngIf="!(isFavourite$ | async)" (click)="addFavourite()" class="w-6 h-6 rounded-full border-2 border-gray-100/50 flex items-center justify-center mr-4 text-gray-100/50 hover:text-gray-100 hover:border-gray-90 transition-all duration-300">
  <i class="fa-solid fa-plus text-sm"></i>
</button>