<button (click)="onSelectItem(item)" class="w-full flex items-center gap-3 hover:bg-[#1F1F1F] p-2 rounded-lg">
  <img 
    [src]="item.image[0].url" alt="{{item.name}}"
     alt="{{item.name}}" 
     class="w-12 h-12 object-cover rounded{{item.type === 'Artiste' ? '-full' : ''}}">

  <div class="flex flex-col items-start justify-center">
    <p class="font-medium">{{item.name}}</p>
    <p class="text-sm text-gray-400">{{item.type}}
      @if(item.owner) {<span> - {{item.owner}}</span>}
    </p>
  </div>
</button>