<div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-5 gap-6">

  @for(item of collection; track item.id) {
    @if(item.type.toLowerCase() === 'artist') {
      <a (click)="routingService.navigateToArtist(item.id)" class="cursor-pointer group">
        <img src="{{item.images[0].url}}" alt="{{item.name}}" class="rounded-full aspect-square object-cover group-hover:scale-105 transition-all duration-300">
        <p class="text-center text-sm text-gray-200 mt-1">{{item.name}}</p>
      </a>
    }

    @if(item.type.toLowerCase() === 'album') {
      <a (click)="routingService.navigateToAlbum(item.id, item.artists[0].id)" class="cursor-pointer group">
        <img src="{{item.images[0].url}}" alt="{{item.name}}" class="rounded aspect-square object-cover group-hover:scale-105 transition-all duration-300">
        <p class="text-center text-sm text-gray-200 mt-1">{{item.name}}</p>
      </a>
    }

    @if(item.type.toLowerCase() === 'playlist') {
      <a (click)="routingService.navigateToPlaylist(item.id)" class="cursor-pointer group">  
        <img src="{{item.images[0].url}}" alt="{{item.name}}" class="rounded aspect-square object-cover group-hover:scale-105 transition-all duration-300">
        <p class="text-center text-sm text-gray-200 mt-1">{{item.name}}</p>
      </a>
    }
  }
</div>