<div class="w-screen h-screen flex flex-col justify-between bg-black overflow-hidden">
  <app-header class="h-[100px] w-full bg-black text-gray-100 px-6" />
  
  <!-- Page content -->
  <mat-sidenav-container class=" flex-1 mat-sidenav-container overflow-hidden bg-black" [hasBackdrop]="false" [autosize]="false">
    <!-- Sidebar -->
    <mat-sidenav #sidenav class="mat-sidenav overflow-hidden mg-6" [class.sidenav-open]="sidenav?.opened" [class.sidenav-closed]="!sidenav?.opened">
      <div class="mat-drawer-inner-container">
        <app-sidebar class="overflow-hidden" />
      </div>
    </mat-sidenav>
    
    <!-- Main content -->
    <mat-sidenav-content class="mat-sidenav-content overflow-hidden" [class.sidenav-open]="sidenav?.opened" [class.sidenav-closed]="!sidenav?.opened">
      <!-- Sidebar toggle button -->
      <button type="button" (click)="sidenav?.toggle()" class="absolute top-6 left-4 z-50 w-8 h-8 rounded-full text-gray-300 hover:bg-[#1F1F1F] transition-all duration-300">
        @if(sidenav?.opened) {
          <i class="fa-solid fa-chevron-left text-xl"></i>
        }
        @else {
          <i class="fa-solid fa-chevron-right text-xl"></i>
        }
      </button>
      
      <!-- Content -->
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
  
  <!-- Page footer -->
  <app-footer class="h-[80px] w-full bg-black text-gray-100 px-6" />
</div>