<div class="absolute inset-0 top-6 z-10 p-6 pl-16 h-[230px] flex flex-col lg:flex-row items-center lg:items-end">
  @if(itemDetails?.type === 'track')
  {
    <img (click)="this.currentTrackService.selectTrack(itemDetails)" [src]="itemDetails?.album.images?.[0]?.url" [alt]="itemDetails?.album.name" class="cursor-pointer hover:brightness-75  w-full max-w-[225px] lg:max-w-[175px] aspect-square object-cover rounded mr-6">
  } @else {
    <img [src]="itemDetails?.images?.[0]?.url" [alt]="itemDetails?.name" class="w-full max-w-[225px] lg:max-w-[175px] aspect-square object-cover rounded{{itemDetails?.type === 'artist' ? '-full' : ''}} mr-6">
  }
  <div class="flex flex-col gap-1">
    <div class="flex flex-row-reverse lg:flex-col">
      @if(itemDetails?.type === 'track') {
        <!-- Added to Favourites badge -->
        @if(favouritesService.isFavourite(itemDetails) | async) {
          <div class="mb-0 lg:mb-4 flex lg:items-center">
            <span class="ml-2 mt-2 lg:mt-0 lg:ml-4 relative">
              <i class="fa-solid fa-certificate absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 text-2xl  bg-gradient-to-br from-[#00C4FF] to-[#F700FD] bg-clip-text text-transparent"></i>
              <i class="fa-solid fa-check absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 text-sm text-white"></i>
            </span>
            <span class="hidden lg:block ml-5 font-medium tracking-wide">dans les Favoris</span>
          </div>
        }
      } @else {
        <!-- Added to library badge -->
        @if(libraryService.isItemInLibrary(itemDetails.id) | async) {
          <div class="mb-0 lg:mb-4 flex lg:items-center">
            <span class="ml-2 mt-2 lg:mt-0 lg:ml-4 relative">
              <i class="fa-solid fa-certificate absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 text-2xl  bg-gradient-to-br from-[#00C4FF] to-[#F700FD] bg-clip-text text-transparent"></i>
              <i class="fa-solid fa-check absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 text-sm text-white"></i>
            </span>
            <span class="hidden lg:block ml-5 font-medium tracking-wide">Ajouté à la bibliothèque</span>
          </div>
        }
      }
      <!-- Item name -->
      <h1 class="text-2xl lg:text-6xl text-center lg:text-start font-bold tracking-wider mt-2 lg:mt-auto w-full">{{ itemDetails?.name }}</h1>
    </div>

    <!-- MetaData -->
    <div class="flex items-center">
     <!-- Display artist metadata -->
     @if(itemDetails?.type === 'artist') {
       <p class="ml-2 font-medium cursor-help" matTooltip="{{(itemDetails?.followers?.total).toLocaleString('fr-CA') }} abonnés">{{ itemDetails?.followers?.total| formatNumbers }} abonnés</p>
     }
     <!-- Display album metadata -->
     @if(itemDetails?.type === 'album') {
      <p class="text-gray-300 font-medium flex items-center">
        <a (click)="this.routingService.navigateTo(routingService.Categories.artist, itemDetails?.artists?.[0]?.id || '')" class="cursor-pointer hover:underline">{{itemDetails?.artists?.[0]?.name}}</a>
        <span class="text-3xl font-extrabold mx-3">&#183;</span> 
        <span matTooltip="{{itemDetails?.release_date | date: 'dd MMMM yyyy'  }}" class="cursor-help">{{ itemDetails?.release_date?.slice(0, 4) }}</span> 
        <span class="text-3xl font-extrabold mx-3">&#183;</span> 
        <span>{{ itemDetails?.total_tracks }} chansons</span>
      </p>
     }
     <!-- Display playlist metadata -->
     @if(itemDetails?.type === 'playlist') {
      <p class="text-gray-300 font-medium flex items-center">
        <span>{{ itemDetails?.owner?.display_name}}</span>
        <span class="text-3xl font-extrabold mx-3">&#183;</span> 
        <span>{{  itemDetails?.tracks?.total }} chansons</span>
        <span class="text-3xl font-extrabold mx-3">&#183;</span> 
        <span matTooltip="{{(itemDetails?.followers?.total).toLocaleString('fr-CA') }} abonnés" class="cursor-help">{{ ( itemDetails?.followers?.total | formatNumbers) }} abonnés</span>
      </p>
    }
      <!-- Display track metadata -->
     @if(itemDetails?.type === 'track') {
      <a (click)="this.routingService.navigateTo(routingService.Categories.artist, itemDetails?.artists?.[0]?.id || '')" class="cursor-pointer hover:underline">{{itemDetails?.artists?.[0]?.name}}</a>
          <span class="text-3xl font-extrabold mx-3">&#183;</span> 
          <span><a (click)="this.routingService.navigateTo(routingService.Categories.album, itemDetails?.album)" class="cursor-pointer hover:underline">{{ itemDetails?.album.name }}</a></span> 
          <span class="text-3xl font-extrabold mx-3">&#183;</span> 
          <span matTooltip="{{itemDetails?.album.release_date | date: 'dd MMMM yyyy'  }}" class="cursor-help">{{ itemDetails?.album.release_date?.slice(0, 4) }}</span> 
     }
    </div>
  </div>
</div>