<!-- Loading State -->
@if(isLoading === true) {
  <app-progress-spinner />
} @else {
<!-- Main Content -->
<div class="w-full h-full">
  <div class="relative w-full h-full">
    <img src="{{ trackDetails?.album?.images?.[0]?.url }}" alt="" class="absolute inset-0 w-full h-full object-cover object-top opacity-30 blur-sm">

    <div class="absolute z-10 p-6 pl-16 h-[230px] flex items-end">
      <img src="{{ trackDetails?.album?.images?.[0]?.url }}" alt="" class="max-w-[175px] aspect-square object-cover rounded mr-6">
      <div class="flex flex-col gap-1">
        <!-- Display artist name -->
        <h1 class="text-5xl font-bold tracking-wider mt-auto">{{ trackDetails?.name }}</h1>

        <!-- Display followers count -->
        <div class="flex items-center">
          <a (click)="this.routingService.navigateTo(routingService.Categories.artist, trackDetails?.artists?.[0]?.id || '')" class="cursor-pointer hover:underline">{{trackDetails?.artists?.[0]?.name}}</a>
          <span class="text-3xl font-extrabold mx-3">&#183;</span> 
          <span><a (click)="onAlbumClick(trackDetails?.album)" class="cursor-pointer hover:underline">{{ trackDetails?.album.name }}</a></span> 
          <span class="text-3xl font-extrabold mx-3">&#183;</span> 
          <span>{{ trackDetails?.album.release_date?.slice(0, 4) }}</span> 
        </div>
      </div>
    </div>

    <!-- Display body -->
    <div class="absolute top-[230px] left-0 right-0 bottom-0 z-20 h-[calc(100vh-397px)] bg-gradient-to-t from-black via-black/60 to-transparent overflow-y-auto">
      <div class="p-6">

          <!-- Display tracks table -->
          <div class="w-full">
            <h2 class="text-2xl font-semibold tracking-wider mb-2">Chansons recommandées</h2>

            <!-- Tracks table -->
            <table mat-table [dataSource]="recommendedTracks">
              <!-- Index column -->
              <ng-container matColumnDef="index">
                <th mat-header-cell *matHeaderCellDef>#</th>
                <td mat-cell *matCellDef="let track; let i = index" (click)="onTrackClick(track)" class=""> 
                  {{ i + 1 }} 
                </td>
              </ng-container>
            
              <!-- Thumbnail column -->
              <ng-container matColumnDef="thumbnail">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let track" class="py-4" (click)="onTrackClick(track)">
                  <img src="{{ track.album.images[0].url }}" alt="" class="w-12 h-12 rounded">
                </td>
              </ng-container>
            
              <!-- Name column -->
              <ng-container matColumnDef="title">
                <th mat-header-cell *matHeaderCellDef>Titre</th>
                <td mat-cell *matCellDef="let track" class="py-4" (click)="onTrackClick(track)">
                  <a (click)="this.routingService.navigateTo(routingService.Categories.track, track.id)" class="cursor-pointer hover:underline">{{ track.name }}</a></td>
              </ng-container>

              <!-- Artists column -->
              <ng-container matColumnDef="artist">
                <th mat-header-cell *matHeaderCellDef>Artiste(s)</th>
                <td mat-cell *matCellDef="let track" class="py-4 artists" (click)="onTrackClick(track)">
                  <span *ngFor="let artist of track.artists; let i = index">
                    <a (click)="this.routingService.navigateTo(routingService.Categories.artist, artist.id)" class="cursor-pointer hover:underline">{{ artist.name }}</a><span *ngIf="i < track.artists.length - 1">, </span>
                  </span>
                </td>
              </ng-container>
            
              <!-- Duration column -->
              <ng-container matColumnDef="duration">
                <th mat-header-cell *matHeaderCellDef class="durationHeader"><i class="fa-regular fa-clock mx-auto"></i></th>
                <td mat-cell *matCellDef="let track" class="py-4 relative" (click)="onTrackClick(track)"> 
                  {{ durationFormatter(track.duration_ms) }}
                </td>
              </ng-container>

              <!-- Options -->
              <ng-container matColumnDef="options">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let track" class="py-4 w-24">
                  <button (click)="toggleFavourite(track)" class="mr-4 text-gray-100/50 hover:text-gray-100 transition-all duration-300">
                    @if(isFavourite(track)) {
                      <i class="fa-solid fa-circle-check bg-gradient-to-br from-[#00C4FF] to-[#F700FD] bg-clip-text text-transparent"></i>
                    } @else {
                      <i class="fa-solid fa-circle-plus"></i>
                    }
                  </button>
                  <button [matMenuTriggerFor]="trackOptions" class="text-gray-100/50 hover:text-gray-100 transition-all duration-300">
                    <i class="fa-solid fa-ellipsis"></i>
                  </button>
                  <mat-menu #trackOptions="matMenu" xPosition="before">
                    <button (click)="toggleFavourite(track)" mat-menu-item>
                      @if(isFavourite(track)) {
                        Retirer des favoris
                      } @else {
                        Ajouter aux favoris
                      }
                    </button>
                    <button mat-menu-item>Menu item 2</button>
                  </mat-menu>
                </td>
              </ng-container>
            
              <!-- Table rows -->
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="cursor-pointer">
            </table>
          </div>
      </div>
    </div>
  </div>
</div>
}