<!-- Loading State -->
@if(isLoading === true)
{

  <!-- Loading Spinner -->
  <app-progress-spinner />

}
@else
{

  <!-- Main Content -->
<div class="w-full h-full">
  <div class="relative w-full h-full">
    <img src="{{ trackDetails?.album?.images?.[0]?.url }}" alt="" class="absolute inset-0 w-full h-full object-cover object-top opacity-30 blur-sm">

    <!-- Page Options Menu (top-right)  -->
    <app-page-options [itemDetails]="trackDetails" />

    <!-- Page Header -->
    <app-page-header [itemDetails]="trackDetails" />

    <!-- Page body -->
    <div class="absolute top-[350px] lg:top-[230px] left-0 right-0 bottom-0 z-20 h-[calc(100vh-397px)] bg-gradient-to-t from-black via-black/60 to-transparent overflow-y-auto">
      <div class="p-6">

          <!-- Display tracks table -->
          <div class="w-full">
            <h2 class="hidden lg:block text-2xl font-semibold tracking-wider mb-2">Chansons recommandées</h2>

            <!-- Tracks table -->
            <div class="w-full">
              <app-tracks-table [tracks]="tracks" />
          </div>
          </div>
      </div>
    </div>
  </div>
</div>
}