<!-- Loading State -->
@if(isLoading === true) {

<app-progress-spinner />

} @else {


<!-- Main Content -->
<div class="w-full h-full">
  <div class="relative w-full h-full">
    <img [src]="playlistDetails?.images?.[0]?.url" [alt]="playlistDetails?.name"
      class="absolute inset-0 w-full h-full object-cover object-top opacity-30 blur-sm">

    <!-- Page Options Menu (top-right)  -->
    <app-page-options [itemDetails]="playlistDetails" />

    <!-- Page Header  -->
    <app-page-header [itemDetails]="playlistDetails" />

    <!-- Page body -->
    <div
      class="absolute top-[340px] lg:top-[230px] left-0 right-0 bottom-0 z-20 h-[calc(100vh-397px)] bg-gradient-to-t from-black via-black/60 to-transparent overflow-y-auto">
      <div class="p-6">

        <!-- Tracks table -->
        <div class="w-full">
          <app-tracks-table [tracks]="tracks" />
        </div>
      </div>
    </div>
  </div>
</div>
}